<html>
<head>
  <meta charset="UTF-8" />
  <title>CÓDIGO DE REGISTRO</title>
</head>

<body>
  <h1>Olá , gostaríamos muito que ter-te connosco!</h1>
  <p>use esse código para prosseguir: <strong>1234</strong></p>
</body>
</html>